solutions/NFPHousingSolution/Workflows/PowerApp-MatchHousingNeeds-D1108A50-7E1C-ED11-B83E-000D3A3B4B50.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ava_sharedcommondataserviceforapps_cf475"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "aeb1dc5b-f989-4b94-b28d-ffa8ff4cde5b"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "InitializeNeedsGUID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "InitializeHousingGUID_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Addanewrow_WorkItemTitle": {
                  "type": "string"
                },
                "Addanewrow_Comment": {
                  "type": "string"
                }
              },
              "required": [
                "InitializeNeedsGUID_Value",
                "InitializeHousingGUID_Value",
                "Addanewrow_WorkItemTitle",
                "Addanewrow_Comment"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_NeedsGUID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e981cd76-0958-4a99-add0-a49949056d5d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NeedsGUID",
                "type": "string",
                "value": "@{triggerBody()['InitializeNeedsGUID_Value']}"
              }
            ]
          }
        },
        "Initialize_HousingGUID": {
          "runAfter": {
            "Initialize_NeedsGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad982ffb-0b6a-4683-b961-521ee0d10174"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HousingGUID",
                "type": "string",
                "value": "@{triggerBody()['InitializeHousingGUID_Value']}"
              }
            ]
          }
        },
        "Add_WorkItem": {
          "runAfter": {
            "Get_NeedsRecord": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "09068b8f-4be3-4d8f-a6d5-14204f579bd3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msnfp_workitems",
              "item/msnfp_name": "@triggerBody()['Addanewrow_WorkItemTitle']",
              "item/msnfp_beneficiaryid_contact@odata.bind": "contacts\\@{outputs('Get_NeedsRecord')?['body/_msnfp_beneficiaryid_value']}",
              "item/ava_comment": "@triggerBody()['Addanewrow_Comment']",
              "item/ava_housinglocationid@odata.bind": "ava_housinglocations\\@{variables('HousingGUID')}",
              "item/msnfp_workitemtype": 75196000
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Relate_rows": {
          "runAfter": {
            "Add_WorkItem": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bbf1fe88-c3fa-4f95-acd6-9a610d4d858f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "AssociateEntities",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msnfp_workitems",
              "recordId": "@outputs('Add_WorkItem')?['body/msnfp_workitemid']",
              "associationEntityRelationship": "msnfp_msnfp_need_msnfp_workitem",
              "item/@odata.id": "@outputs('Get_NeedsRecord')?['body/@odata.id']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Update_Needs": {
          "runAfter": {
            "Relate_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b6b16cff-893b-4354-abca-fff5dbbff7e9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msnfp_needs",
              "recordId": "@variables('NeedsGUID')",
              "item/statecode": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Update_Housing_Locations": {
          "runAfter": {
            "Update_Needs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4839ebb0-8be7-45bd-8635-1df232c61308"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ava_housinglocations",
              "recordId": "@variables('HousingGUID')",
              "item/statuscode": 6
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_NeedsRecord": {
          "runAfter": {
            "Initialize_HousingGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c3938a3-656e-4b27-a2ef-08d03a30000d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msnfp_needs",
              "recordId": "@variables('NeedsGUID')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}