solutions/NFPAvanadeHousingSolution/Workflows/BusinessUnit-SetGeoLocationAddress1-39963B72-2D13-ED11-B83D-000D3A36E0E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_bingmaps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_bingmaps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "55fce56d-354f-4111-9aa3-f70cc3e04a13"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Business_Units": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b6cf1490-5782-4c45-b027-06578b0e4c6d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "businessunits"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Business_Units')?['body/value']",
          "actions": {
            "Get_location_by_address": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a450276b-b2ee-4a30-8c59-843eace224ac"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_bingmaps",
                  "operationId": "GetLocationByAddress",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_bingmaps"
                },
                "parameters": {
                  "addressLine": "@items('Apply_to_each')?['address1_line1']",
                  "locality": "@items('Apply_to_each')?['address1_city']",
                  "adminDistrict": "@items('Apply_to_each')?['address1_stateorprovince']",
                  "postalCode": "@items('Apply_to_each')?['address1_postalcode']",
                  "countryRegion": "@items('Apply_to_each')?['address1_country']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_GEO_Location_Data": {
              "runAfter": {
                "Get_location_by_address": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "494140bb-2e68-41d5-a36d-6d785a7ecb65"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "businessunits",
                  "recordId": "@items('Apply_to_each')?['businessunitid']",
                  "item/address1_latitude": "@outputs('Get_location_by_address')?['body/point/coordinates/latitude']",
                  "item/address1_longitude": "@outputs('Get_location_by_address')?['body/point/coordinates/longitude']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_Business_Units": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "08a4ff53-abf0-43fb-8b8c-feb2c6b41210"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}