solutions/NFPAvanadeHousingSolution/Workflows/HousingFormSubmission-DBC255F5-330F-ED11-82E4-000D3A490347.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedmicrosoftforms_3fc96"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "0ed2a27a-a696-4212-ab13-98fa968d8b36"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_2",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "i0jEANYP8EiC0Hcr1G3wgyCT9xtRs1xKkBiDhDDBTfBUMFdORUlSRDFHOUdTT1VMV1ZYR0g5WVFRSS4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0c54b79a-f0ac-49f6-b5ee-3ea6d3357787"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms_2",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "i0jEANYP8EiC0Hcr1G3wgyCT9xtRs1xKkBiDhDDBTfBUMFdORUlSRDFHOUdTT1VMV1ZYR0g5WVFRSS4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1fc197a7-38a1-426b-aebd-b9656046a79f"
          },
          "type": "Compose",
          "inputs": {
            "FirstName": "@outputs('Get_response_details')?['body/rb832e6fdaf70478d96e53744180db290']",
            "LastName": "@outputs('Get_response_details')?['body/rd52e16d554144184bffaedf8457387ca']",
            "EmailAddress": "@outputs('Get_response_details')?['body/rce82573ea46543508ac1cf3441db0a3e']",
            "Phonenumber": "@outputs('Get_response_details')?['body/rc6c434563c8d41f3aa31c0afa5996c1a']",
            "BuildingType": "@outputs('Get_response_details')?['body/r8b8f5ac64cc74147a3493e729e29a8de']",
            "BedroomNumber": "@outputs('Get_response_details')?['body/r638562c7f8534ddd96655abffe2366dc']",
            "BathroomNumber": "@outputs('Get_response_details')?['body/r490cba405d8642c3953da646bdb0c0a2']",
            "PetsAllowed": "@outputs('Get_response_details')?['body/rdf2bacd4b1364cd99ea928502bafedc8']",
            "ChildFriendly": "@outputs('Get_response_details')?['body/ra3852ba09e6a474a91250c68f05f8693']",
            "PublicTransportNearby": "@outputs('Get_response_details')?['body/r45f04eaa74c24b34933cc39e3ef08a1a']",
            "BuildYear": "@outputs('Get_response_details')?['body/r61f24bb589df444d931eb05bcd54e855']",
            "Streetline1": "@outputs('Get_response_details')?['body/r9e8fcc584d534c36a1fe16eecb647625']",
            "City": "@outputs('Get_response_details')?['body/r8ee318e9498343a09d7d6d5806a3865a']",
            "State": "@outputs('Get_response_details')?['body/r2aca30f39fb040cab61cfe852653a525']",
            "Zipcode": "@outputs('Get_response_details')?['body/r38d84ac7b7b74fefb004257b311ea7f5']",
            "RentIndication": "@outputs('Get_response_details')?['body/r9c2a685bdaea4609accd091bb04e54ba']",
            "Comment": "@outputs('Get_response_details')?['body/r12058c394d214a61ab770347ff350b3b']"
          }
        },
        "HTTP": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9dd8f512-7cfe-4536-8a5d-8843b08f355a"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://prod-163.westus.logic.azure.com:443/workflows/790d1f86540d4646a17a64abeedac9f7/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PK8ILDudwaYF4o2EmsvsHA8GpX7abbWiCdAez9jz_LA",
            "body": "@outputs('Compose')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}