solutions/NFPAvanadeHousingSolution/Workflows/NFPHousingService-DCC255F5-330F-ED11-82E4-000D3A490347.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ava_sharedcommondataserviceforapps_cf475"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_bingmaps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedbingmaps_498bd"
        },
        "api": {
          "name": "shared_bingmaps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d7b990f7-a1a7-4ef3-8c56-db5840cb00c2"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string"
                },
                "LastName": {
                  "type": "string"
                },
                "EmailAddress": {
                  "type": "string"
                },
                "Phonenumber": {
                  "type": "string"
                },
                "BuildingType": {
                  "type": "string"
                },
                "Streetline1": {
                  "type": "string"
                },
                "City": {
                  "type": "string"
                },
                "State": {
                  "type": "string"
                },
                "Zipcode": {
                  "type": "string"
                },
                "RentIndication": {
                  "type": "string"
                },
                "BedroomNumber": {
                  "type": "string"
                },
                "BathroomNumber": {
                  "type": "string"
                },
                "PetsAllowed": {
                  "type": "string"
                },
                "ChildFriendly": {
                  "type": "string"
                },
                "PublicTransportNearby": {
                  "type": "string"
                },
                "BuildYear": {
                  "type": "string"
                },
                "Comment": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Duplicate_Check_Contact_Email_Address": {
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b9d816eb-8cb4-49f9-bc5d-7236546d4220"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"contactid\" />\n    <attribute name=\"emailaddress1\" />\n    <attribute name=\"statuscode\" />\n    <attribute name=\"telephone1\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"emailaddress1\" operator=\"eq\" value=\"@{triggerBody()?['EmailAddress']}\" />\n    </filter>\n  </entity>\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_if_Duplicate_was_Found": {
          "actions": {
            "Create_Contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dbdcdc08-9376-42e4-adf4-19446e1a5e46"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "item/lastname": "@triggerBody()?['LastName']",
                  "item/telephone1": "@triggerBody()?['Phonenumber']",
                  "item/emailaddress1": "@triggerBody()?['EmailAddress']",
                  "item/firstname": "@triggerBody()?['FirstName']",
                  "item/msnfp_primaryconstituenttype": 75196000
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable": {
              "runAfter": {
                "Create_Contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a9c1753f-1f6c-4eac-8060-f299e8304f61"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ContactID",
                "value": "@outputs('Create_Contact')?['body/contactid']"
              }
            }
          },
          "runAfter": {
            "Duplicate_Check_Contact_Email_Address": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each": {
                "foreach": "@outputs('Duplicate_Check_Contact_Email_Address')?['body/value']",
                "actions": {
                  "Set_variable_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5c924235-6c1f-4a82-bdb8-ebc15d3491f5"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ContactID",
                      "value": "@items('Apply_to_each')?['contactid']"
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f9163a39-b475-42bc-8a9b-d9d0d7b62dae"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs('Duplicate_Check_Contact_Email_Address')?['body/value'])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "1e0c9bab-ea27-4572-b81c-fb0b70e1235b"
          },
          "type": "If"
        },
        "Initialize_ContactID": {
          "runAfter": {
            "Create_Submission_Activity": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2d37b8b-0875-4596-827a-6453f2db774f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactID",
                "type": "string"
              }
            ]
          }
        },
        "Create_Housing_Record": {
          "runAfter": {
            "Get_location_by_address": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c89a69f-d6df-45ac-beae-a91aedd8529e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ava_housinglocations",
              "item/ava_landlordid@odata.bind": "contacts\\@{variables('ContactID')}",
              "item/ava_additionalinformation": "@triggerBody()?['Comment']",
              "item/ava_childfriendly": "@variables('ChildFriendly')",
              "item/ava_address1_city": "@triggerBody()?['City']",
              "item/ava_housingtype": "@variables('BuildingTypeOptionListInt')",
              "item/ava_address1_latitude": "@outputs('Get_location_by_address')?['body/point/coordinates/latitude']",
              "item/ava_address1_longitude": "@outputs('Get_location_by_address')?['body/point/coordinates/longitude']",
              "item/ava_mapsurl": "@concat('https://www.google.com/maps/search/?api=1&query=',outputs('Get_location_by_address')?['body/point/coordinates/latitude'],'%2C',outputs('Get_location_by_address')?['body/point/coordinates/longitude'])",
              "item/ava_name": "@{triggerBody()?['Streetline1']}, @{triggerBody()?['City']} ",
              "item/ava_numberofbathrooms": "@variables('NumberOfBathrooms')",
              "item/ava_numberofbedrooms": "@variables('NumberOfBedrooms')",
              "item/ava_housingtypeother": "@variables('BuilgTypeOther')",
              "item/ava_petsallowed": "@variables('PetsAllowedInt')",
              "item/ava_propertybuild": "@triggerBody()?['BuildYear']",
              "item/ava_publictransportnearby": "@variables('PublicTransportNearby')",
              "item/ava_rentindication": "@triggerBody()?['RentIndication']",
              "item/ava_address1_state": "@triggerBody()?['State']",
              "item/ava_address1_streetline1": "@triggerBody()?['Streetline1']",
              "item/ava_address1_postalcode": "@triggerBody()?['Zipcode']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_BuildingTypeOptionListInt": {
          "runAfter": {
            "Initialize_ContactID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7289f519-2480-4851-8257-f2b583227e3b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BuildingTypeOptionListInt",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_BuildingTypeOther": {
          "runAfter": {
            "Initialize_BuildingTypeOptionListInt": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2e4b067-de15-4b77-ac2a-53c9b5501fb6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BuilgTypeOther",
                "type": "string"
              }
            ]
          }
        },
        "BuildingType_Switch": {
          "runAfter": {
            "Initialize_HousingRecordGUID": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "Single-Family Home",
              "actions": {
                "Set_variable_3": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "BuildingTypeOptionListInt",
                    "value": 751960000
                  }
                }
              }
            },
            "Case_2": {
              "case": "Single Apartment or Condo",
              "actions": {
                "Set_variable_4": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "BuildingTypeOptionListInt",
                    "value": 751960001
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_variable_5": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "BuildingTypeOptionListInt",
                  "value": 751960004
                }
              },
              "Set_variable_6": {
                "runAfter": {
                  "Set_variable_5": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "BuilgTypeOther",
                  "value": "@triggerBody()?['BuildingType']"
                }
              }
            }
          },
          "expression": "@triggerBody()?['BuildingType']",
          "metadata": {
            "operationMetadataId": "cbbd64c4-fe40-4d55-b9c0-b65197580f68"
          },
          "type": "Switch"
        },
        "Initialize_NumberOfBedrooms": {
          "runAfter": {
            "Initialize_BuildingTypeOther": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "867c44be-be42-4eef-9d87-4d44145a598c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberOfBedrooms",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_NumberOfBathrooms": {
          "runAfter": {
            "Initialize_PetsAllowedInt": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcd1ba35-e19c-4feb-a936-87dc15664725"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberOfBathrooms",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_PublicTransportNearby": {
          "runAfter": {
            "Initialize_ChildFriendly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "906c377d-9e94-4dd7-994c-cf53b3d22ed9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PublicTransportNearby",
                "type": "boolean",
                "value": "@if(equals(triggerBody()?['PublicTransportNearby'],'Yes'),true,false)"
              }
            ]
          }
        },
        "Initialize_ChildFriendly": {
          "runAfter": {
            "Initialize_NumberOfBathrooms": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a08736e-1f28-47d6-9f83-76c55dba0e17"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ChildFriendly",
                "type": "boolean",
                "value": "@if(equals(triggerBody()?['ChildFriendly'],'Yes'),true,false)"
              }
            ]
          }
        },
        "BedroomNumber_Switch": {
          "runAfter": {
            "BuildingType_Switch": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "4+",
              "actions": {
                "Set_NumberOfBedrooms_4+": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "NumberOfBedrooms",
                    "value": 4
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_NumberOfBedrooms": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "NumberOfBedrooms",
                  "value": "@int(triggerBody()?['BedroomNumber'])"
                }
              }
            }
          },
          "expression": "@triggerBody()?['BedroomNumber']",
          "metadata": {
            "operationMetadataId": "8c00b36b-7fab-41e1-8c25-d043dca2567c"
          },
          "type": "Switch"
        },
        "BathroomNumber_Switch": {
          "runAfter": {
            "BedroomNumber_Switch": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "4+",
              "actions": {
                "Set_NumberOfBathrooms_4+": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "NumberOfBathrooms",
                    "value": 4
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_NumberOfBathrooms": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "NumberOfBathrooms",
                  "value": "@int(triggerBody()?['BathroomNumber'])"
                }
              }
            }
          },
          "expression": "@triggerBody()?['BathroomNumber']",
          "metadata": {
            "operationMetadataId": "d07d0009-d191-4d81-9150-d96ff4a9a2d0"
          },
          "type": "Switch"
        },
        "Get_location_by_address": {
          "runAfter": {
            "Check_if_Duplicate_was_Found": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2985ac5b-ef05-4991-81ac-953306939cd9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_bingmaps",
              "operationId": "GetLocationByAddress",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_bingmaps"
            },
            "parameters": {
              "addressLine": "@triggerBody()?['Streetline1']",
              "locality": "@triggerBody()?['City']",
              "adminDistrict": "@triggerBody()?['State']",
              "postalCode": "@triggerBody()?['Zipcode']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_Submission_Activity": {
          "runAfter": {
            "Initialize_RegardingGUID_(Fallback)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46a535b9-d167-4230-ba90-b2459810232d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ava_housingsubmissions",
              "item/subject": "Housing Submission Received",
              "item/activitypointer_activity_parties": [
                {
                  "participationtypemask": 11,
                  "partyid@odata.bind": "contacts\\@{variables('RegardingGUID')}"
                }
              ],
              "item/description": "@variables('SubmittedMessage')",
              "item/regardingobjectid_contact_ava_housingsubmission@odata.bind": "contacts\\@{variables('RegardingGUID')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Housing_Submission": {
          "runAfter": {
            "Update_Housing_Record_with_Variables": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9ed8cb77-0482-407c-a50c-1611e2a0e5db"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ava_housingsubmissions",
              "recordId": "@outputs('Create_Submission_Activity')?['body/activityid']",
              "item/activitypointer_activity_parties": [
                {
                  "participationtypemask": 11,
                  "partyid@odata.bind": "contacts\\@{variables('ContactID')}"
                }
              ],
              "item/statecode": 1,
              "item/regardingobjectid_contact_ava_housingsubmission@odata.bind": "contacts\\@{variables('ContactID')}",
              "item/statuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_SubmittedMessage": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5981a583-0b45-476d-b283-1cdd2efdf621"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubmittedMessage",
                "type": "string",
                "value": "@{triggerBody()}"
              }
            ]
          }
        },
        "Initialize_RegardingGUID_(Fallback)": {
          "runAfter": {
            "Initialize_D365URLPrefix": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd0ac2db-94ab-4449-ac0e-a53c608dad76"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RegardingGUID",
                "type": "string",
                "value": "c2d25555-c713-ed11-b83d-000d3a36effb"
              }
            ]
          },
          "description": "Set a GUID for a regarding object to be used on the initial activity. Then set this as a variable in the create Submission Activity step at the correct regarding attriute: <entity name plural>\\regardingGuid Variable."
        },
        "Initialize_D365URLPrefix": {
          "runAfter": {
            "Initialize_SubmittedMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eeb76d0b-ab5c-4196-85b8-55034fe502e5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "D365URLPrefix",
                "type": "string",
                "value": "https://iompoc.crm.dynamics.com/main.aspx?appid=94fa1575-79b1-4a62-966b-b3f5a9691edd&pagetype=entityrecord&etn=ava_housinglocation&id\\"
              }
            ]
          }
        },
        "Update_Housing_Record_with_Variables": {
          "runAfter": {
            "Set_HousingRecordGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73486896-b165-4ec0-9747-2d3a77f9b973"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ava_housinglocations",
              "recordId": "@outputs('Create_Housing_Record')?['body/ava_housinglocationid']",
              "item/ava_childfriendlyfiltervalue": "@outputs('Create_Housing_Record')?['body/ava_childfriendly']",
              "item/ava_publictransportfiltervalue": "@outputs('Create_Housing_Record')?['body/ava_publictransportnearby']",
              "item/ava_recordurl": "@concat(variables('D365URLPrefix'),variables('HousingRecordGUID'))",
              "item/ava_searchfield": "@{outputs('Create_Housing_Record')?['body/ava_address1_city']} bedrooms@{outputs('Create_Housing_Record')?['body/ava_numberofbedrooms']} bathrooms@{outputs('Create_Housing_Record')?['body/ava_numberofbathrooms']} public@{outputs('Create_Housing_Record')?['body/ava_publictransportnearby']} childfriendly@{outputs('Create_Housing_Record')?['body/ava_childfriendly']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_HousingRecordGUID": {
          "runAfter": {
            "Initialize_PublicTransportNearby": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9508b254-7fb8-49ef-8b14-9da04ce4385e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HousingRecordGUID",
                "type": "string"
              }
            ]
          }
        },
        "Set_HousingRecordGUID": {
          "runAfter": {
            "Create_Housing_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bf76ce0-24d2-45e8-842f-86b410b80bfe"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "HousingRecordGUID",
            "value": "@outputs('Create_Housing_Record')?['body/ava_housinglocationid']"
          }
        },
        "Initialize_PetsAllowedInt": {
          "runAfter": {
            "Initialize_NumberOfBedrooms": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5c6b2f8-e099-4683-80c4-1df2233099f1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PetsAllowedInt",
                "type": "integer",
                "value": 751960000
              }
            ]
          }
        },
        "Switch": {
          "runAfter": {
            "BathroomNumber_Switch": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "No",
              "actions": {
                "Set_variable_7": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PetsAllowedInt",
                    "value": 751960001
                  }
                }
              }
            },
            "Case_2": {
              "case": "In Concert",
              "actions": {
                "Set_variable_8": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PetsAllowedInt",
                    "value": 751960002
                  }
                }
              }
            },
            "Case_3": {
              "case": "Yes",
              "actions": {
                "Set_variable_9": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PetsAllowedInt",
                    "value": 751960003
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerBody()?['PetsAllowed']",
          "metadata": {
            "operationMetadataId": "f0ae02a8-dbc4-4b27-b28f-73b82874a79b"
          },
          "type": "Switch"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}